# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual Environments
venv/
.env
.env.*
!.env.example

# Django
media/
staticfiles/

# ==========================
# Node
# ==========================
node_modules/
dist/
build/
coverage/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Misc
# ==========================
*.tmp
*.bak
