.header {
  position: relative;
  z-index: 20;
  width: 100%;
}

.inner {
  display: flex;
  width: min(
    calc(
      100% - var(--page-inline-space) - var(--page-inline-space)
    ),
    var(--content-max-width)
  );
  min-height: 5rem;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.brand {
  font-size: 1.875rem;
  filter: drop-shadow(0 1px 8px rgb(0 0 0 / 35%));
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu {
  z-index: 50;
}

@media (max-width: 40rem) {
  .inner {
    min-height: 4.5rem;
  }

  .brand {
    font-size: 1.625rem;
  }
}
