* {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
}


input,
select,
textarea {
  font: inherit;
}